

<nav class="grey darken-3">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">MVP</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>